.menu {
    color: #f00;
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.menu li {
    color: #000;
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 15px 4%;
    border: 1px solid #9d9fa2;
    box-shadow: 2px 2px 10px 0 rgba (0,0,0,.5);
    border-radius: 6px;
    cursor: pointer;
    transition-property: background;
    transition-duration: 4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.menu li:hover {
    color: #f00;
    background-color: rgba(100, 65, 0, .3);
}

/* ----------------------------------------
    GALLERY SECTION ANIMATION
-----------------------------------------*/

.video {
    position: relative;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: #ff0;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .7);
    align-content: center;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.picture > .picture-container {
    padding: 0 8px;
}

.picture-container:after {
    content: "";
    display: table;
    clear: both;
}

.picture {
    float: left;
    width: 25%;
    height: 360px;
}

img {
    width: 460px;
    height: 320px;
    
}

.picture-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center; /* For centering text inside .photo-overlay */
    align-items: center;
    background: rgba(0, 0, 0, .5);
}

.white-head {
    color: #c9bdaa;
    margin-top: 5%;
}

/* ----------------------------------------
    Photo Overlay Transitions
-----------------------------------------*/

.picture-overlay {
    opacity: 0;
    transition: opacity .5%;
    border-radius: 10px;
    cursor: pointer;
}

.picture-overlay:hover {
    opacity: 1;
}

.picture img {
    transition: transform .5s;
    transform-origin: 50% 50%;
}

.picture:hover img {
    transform: scale(1.1);
}

/* The Modal background */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: lightblue;
}

/* Modal content */
.modal-content {
    background-color: lightpink;
    margin: auto;
    padding: 20px;
    width: 90%;
    max-width: 100%;
    height: auto;
}

/* The close button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    columns: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit of see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, .8);
}

/* Number text */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.img.demo {
    opacity: .6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: .3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}